.about-info {
  background: rgba(179, 188, 229, 0.16);
  padding: 50px 60px;
  margin-bottom: 120px;
  &__text {
    padding-bottom: 20px;
  }
  &__numbers {
    display: flex;
    margin: 0 -20px;
    justify-content: space-between;

  }
  &-item {
    font-family: $font-title;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
    padding: 0 20px;
    max-width: 310px;

    .num {
      font-size: 120px;
      font-weight: 700;
      line-height: 1;
      color: $clr-first-primary;
    }
  }
}

.history-company {
  margin-bottom: 120px;
  .b-tabs {
    display: flex;
    .tabs-arrow {
      position: absolute;
      display: flex;
      justify-content: space-between;
      width: 70px;
      top: 10px;
      right: 0;
    }
    .tab-arr-r, .tab-arr-l {
      cursor: pointer;
      svg {
        fill: none;
        stroke: #BABED8;
        width: 10px;
        height: 17px;
      }
      &:hover {
       svg {
         stroke: #fff;
       }
      }
    }
    
  }
  .tabs {
    font-family: $font-title;
    min-width: 120px;
    max-width: 120px;
    margin-right: 70px;
    li {
      color: #D8D8E9;
      font-size: 50px;
      font-weight: 700;
      line-height: 1;
      margin-bottom: 20px;
      cursor: pointer;
      &.current {
        color: $clr-first-primary;
      }
    }
  }
  .box {
    flex: 1 1 auto;
    display: none;
    &.visible {
      display: block;
    }
  }
  &__content {
    position: relative;
  }
  &__img {
    max-width: 800px;
    margin-bottom: -100px;
  }
  &__text {
    background: $clr-first-primary;
    color: #fff;
    padding: 40px 50px;
    position: relative;
    z-index: 1;
    margin-left: 30%;
    &:after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 99%;
      width: 2000px;
      background: $clr-first-primary;
      content: "";
      z-index: 1;
    }
    .title {
      font-size: 30px;
      font-weight: 700;
      line-height: 1.2;
      padding-bottom: 20px;
      font-family: $font-title;
      position: relative;
      padding-right: 100px;
    }
    .text {
      font-size: 18px;
      font-weight: 300;
      line-height: 1.5;
    }
  }
}

.leaders {
  margin: 0 -25px 100px;
  display: flex;
  &-right {
    display: flex;
    margin: 0 -25px 0 20px;
    flex-wrap: wrap;
    font-size: 18px;
    .leader-item {
      display: flex;
      align-items: flex-end;
      .img {
        min-width: 170px;
        margin-right: 30px;
      }
      
    }
  }
}
.leader {
  &-big {
    max-width: 345px;
    min-width: 345px;
    padding: 0 25px 40px;
    font-size: 24px;
    .img {
      margin-bottom: 20px;
    }
    .leader-item {
      min-width: 295px;
      max-width: 295px;
      padding: 0;
    }
  }
  &-item {
    padding: 0 25px 40px;
    max-width: 450px;
    min-width: 450px;
    &__text {
      .title {
        font-weight: 500;
      }
      .desc {
      
      }
    }
  }
}


.b-awards {
  margin-bottom: 120px;
  background: #F3F4FB;
  padding: 70px;
  text-align: center;
  .slider-awards {
    max-width: 1000px;
    position: relative;
    .slick-track {
      display: flex;
      align-items: center;
    }
    .slider {
      overflow: hidden;
      max-width: 100%;
    }
    .slide {
      max-width: 190px;
      img {
        display: inline;
      }
    }
    .arr-left, .arr-right {
      cursor: pointer;
      fill: none;
      stroke: #B1B1D3;
      position: absolute;
      top: calc(50% - 16px);
      left: -46px;
      @include qxl {
        left: -20px;
      }
      svg {
        fill: none;
        width: 16px;
        height: 32px;
      }
    }
    .arr-right {
      left: auto;
      right: -46px;
      @include qxl {
        left: auto;
        right: -20px;
      }
    }
    .slick-track {
      display: flex;
      align-items: center;
    }
  }
}

.about-text {
  margin-bottom: 120px;
}


.list-partner {
  display: flex;
  overflow: auto;
  align-items: center;
  margin-bottom: 120px;
  .partner-item {
    margin-right: 30px;
  }
}

.project-demo {
  margin-bottom: 60px;
}

.project-result {
  position: relative;
  background: #f3f4fb;
  padding: 50px 0;
  z-index: 1;
  margin-bottom: 85px;
  &:after {
    position: absolute;
    content: "";
    width: 4000px;
    height: 100%;
    top: 0;
    left: calc(50% - 2000px);
    z-index: -1;
    background: #f3f4fb;
  }
  &__items {
    padding-top: 10px;
    font-family: $font-title;
    display: flex;
    justify-content: center;
  }
  &__item {
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    min-width: 20%;
    max-width: 25%;
    line-height: 1.1;
    padding: 0 15px;
    .num {
      font-size: 90px;
      font-weight: 700;
      line-height: 1;
      color: $clr-first-primary;
      padding-bottom: 10px;
    }
  }
}
