<% var data = {
  title: "Второй заголовок | Проект",
  author: "Harrix"
}; %>
<%= _.template(require('./../includes/header-inside.html').default)(data) %>

<main class="main">
  <div class="wrapper wrapper--inside content-wrapper">
    <section class="content">
      <ul class="crumbs">
        <li class="crumbs-item"><a href="">Главная</a></li>
        <li class="crumbs-item"><span>Новости</span></li>
      </ul>
      <div class="box-h-title">
        <h1 class="h1">Облачные технологии меняют мир в эпоху пандемии</h1>
      </div>
      <div class="box-filter">
        <div class="news-date">Дата: 12 мая 2022</div>
        <ul class="tags-listing">
          <li class="tag-item"><a class="tag-item__link" href="">Облачные технологии</a></li>
          <li class="tag-item"><a class="tag-item__link" href="">IaaS</a></li>
          <li class="tag-item"><a class="tag-item__link" href="">Cloud Health</a></li>
          <li class="tag-item"><a class="tag-item__link" href="">Проектная разработка</a></li>
        </ul>
        <div class="news-socs">
          <a class="news-socs__item" href=""><img src="img/ico_vk.svg" alt=""></a>
          <a class="news-socs__item" href=""><img src="img/ico_facebook.svg" alt=""></a>
          <a class="news-socs__item" href=""><img src="img/ico_od.svg" alt=""></a>
        </div>
      </div><!--end b-filter -->
      <article>
        <div class="big-img"><img src="img/new-img.png" alt=""></div>
        <p>Как уже неоднократно упомянуто, сделанные на базе интернет-аналитики выводы своевременно верифицированы. Господа, консультация с широким активом в значительной степени обусловливает важность приоретизации разума над эмоциями. Противоположная точка зрения подразумевает, что многие известные личности, превозмогая сложившуюся непростую экономическую ситуацию, призваны к ответу. Наше дело не так однозначно, как может показаться: глубокий уровень погружения представляет собой интересный эксперимент проверки дальнейших направлений развития.</p>
        <h2 class="h2">Вам также будет интересно</h2>
        <p>Как уже неоднократно упомянуто, сделанные на базе интернет-аналитики выводы своевременно верифицированы. Господа, консультация с широким активом в значительной степени обусловливает важность приоретизации разума над эмоциями. Противоположная точка зрения подразумевает, что многие известные личности, превозмогая сложившуюся непростую экономическую ситуацию, призваны к ответу. Наше дело не так однозначно, как может показаться: глубокий уровень погружения представляет собой интересный эксперимент проверки дальнейших направлений развития.</p>
        <h3 class="h3">Вам также будет интересно</h3>
        <ul>
          <li>Как уже неоднократно упомянуто, сделанные на базе интернет-аналитики выводы своевременно верифицированы.</li>
          <li>Господа, консультация с широким активом в значительной степени обусловливает важность приоретизации разума над эмоциями.</li>
          <li>Противоположная точка зрения подразумевает, что многие известные личности, превозмогая сложившуюся непростую экономическую ситуацию</li>
          <li>Призваны к ответу. Наше дело не так однозначно, как может показаться: глубокий уровень погружения представляет собой интересный эксперимент проверки дальнейших направлений развития.</li>
        </ul>
        <blockquote>Как уже неоднократно упомянуто, сделанные на базе интернет-аналитики выводы своевременно верифицированы. Господа, консультация с широким активом в значительной степени обусловливает важность приоретизации разума над эмоциями. Противоположная точка зрения подразумевает, что многие известные личности.</blockquote>
        <div class="big-img"><img src="img/new-img.png" alt=""></div>
        <p>Как уже неоднократно упомянуто, сделанные на базе интернет-аналитики выводы своевременно верифицированы. Господа, консультация с широким активом в значительной степени обусловливает важность приоретизации разума над эмоциями. Противоположная точка зрения подразумевает, что многие известные личности, превозмогая сложившуюся непростую экономическую ситуацию, призваны к ответу. Наше дело не так однозначно, как может показаться: глубокий уровень погружения представляет собой интересный эксперимент проверки дальнейших направлений развития.</p>
        <ol>
          <li>Как уже неоднократно упомянуто, сделанные на базе интернет-аналитики выводы своевременно верифицированы.</li>
          <li>Господа, консультация с широким активом в значительной степени обусловливает важность приоретизации разума над эмоциями.</li>
          <li>Противоположная точка зрения подразумевает, что многие известные личности, превозмогая сложившуюся непростую экономическую ситуацию</li>
          <li>Призваны к ответу. Наше дело не так однозначно, как может показаться: глубокий уровень погружения представляет собой интересный эксперимент проверки дальнейших направлений развития.</li>
        </ol>
      </article>
      <h2 class="h2">Вам также будет интересно</h2>
      <div class="list-news list-news--inside">
        <div class="news-item">
          <div class="news-wrapper">
            <div class="img"><a href="#"><img src="img/news1.png" alt=""></a></div>
            <div class="title"><a href="#">Знания.
            </a></div>
            <div class="text">
              Знания. В нашей инженеры, с подтверждёнными знаниями.
            </div>
            <div class="date">12 мая 2022</div>
          </div>
        </div><!--end news-item -->
        <div class="news-item">
          <div class="news-wrapper">
            <div class="img"><a href="#"><img src="img/news1.png" alt=""></a></div>
            <div class="title"><a href="#">Заголовок новости
            </a></div>
            <div class="text">
              Знания. В нашей команде работают выскоко- квалифицированные инженеры, с подтверждёнными знаниями.
            </div>
            <div class="date">12 мая 2022</div>
          </div>
        </div><!--end news-item -->
        <div class="news-item">
          <div class="news-wrapper">
            <div class="img"><a href="#"><img src="img/news1.png" alt=""></a></div>
            <div class="title"><a href="#">Длинный заголовок новости в две строки
            </a></div>
            <div class="text">
              Знания. В нашей команде работают выскоко- квалифицированные инженеры, с подтверждёнными знаниями.
            </div>
            <div class="date">12 мая 2022</div>
          </div>
        </div><!--end news-item -->

      </div><!--end list-news -->
      <div class="list-load-more">
        <a href="#" class="btn btn--second">Загрузить еще</a>
      </div>
     
    </section>
  </div>
</main>



<%= _.template(require('./../includes/footer.html').default)(data) %>
