<% var data = {
  title: "Второй заголовок | Проект",
  author: "Harrix"
}; %>
<%= _.template(require('./../includes/header-inside-about.html').default)(data) %>
<main class="main main--header">
  <div class="main-header header-partner">
    <div class="wrapper wrapper--inside content-wrapper">
      <div class="main-header__wrapper">
        <ul class="crumbs">
          <li class="crumbs-item"><a href="">Главная</a></li>
          <li class="crumbs-item"><span>Новости</span></li>
        </ul>
        <div class="box-h-title">
          <h1 class="h1">Gigant сотрудничает с
            признанными лидерами
            в ИТ-индустрии</h1>
          <div class="h-subtitle">
          
          </div>
        </div>
      </div>
    </div>
  </div><!--end main-header -->
  <div class="wrapper wrapper--inside content-wrapper">
    <section class="content">
      <div class="list-partners">
        <div class="partner-item">
          <a href="#" class="img"><img src="img/part1.png" alt=""></a>
          <div class="right">
            <div class="title"><a href="">Xerox</a></div>
            <div class="text">
              Один из мировых лидеров в области технологий печати и управления документами, пионер массового выпи и управления документами, пионер массового выпуска копировальных аппаратов
            </div>
            <div class="link">
              <a href="#">
                Подробнее
                <svg class="svg">
                  <use xlink:href="img/sprite.svg#arr-right"></use>
                </svg>
              </a>
            </div>
          </div>
        </div><!--end partner-item -->
        <div class="partner-item">
          <a href="#" class="img"><img src="img/part1.png" alt=""></a>
          <div class="right">
            <div class="title"><a href="">Xerox</a></div>
            <div class="text">
              Один из мировых лидеров в области технологий печати и управления документами, пионер массового выпуска копировальных аппаратов
            </div>
            <div class="link">
              <a href="#">
                Подробнее
                <svg class="svg">
                  <use xlink:href="img/sprite.svg#arr-right"></use>
                </svg>
              </a>
            </div>
          </div>
        </div><!--end partner-item -->
        <div class="partner-item">
          <a href="#" class="img"><img src="img/part1.png" alt=""></a>
          <div class="right">
            <div class="title"><a href="">Xerox</a></div>
            <div class="text">
              Один из мировых лидеров в области технологий печати и управления документами, пионер массового выпуска копировальных аппаратов
            </div>
            <div class="link">
              <a href="#">
                Подробнее
                <svg class="svg">
                  <use xlink:href="img/sprite.svg#arr-right"></use>
                </svg>
              </a>
            </div>
          </div>
        </div><!--end partner-item -->
        <div class="partner-item">
          <a href="#" class="img"><img src="img/part1.png" alt=""></a>
          <div class="right">
            <div class="title"><a href="">Xerox</a></div>
            <div class="text">
              Один из мировых лидеров в области технологий печати и управления документами, пионер массового выпуска копировальных аппаратов
            </div>
            <div class="link">
              <a href="#">
                Подробнее
                <svg class="svg">
                  <use xlink:href="img/sprite.svg#arr-right"></use>
                </svg>
              </a>
            </div>
          </div>
        </div><!--end partner-item -->
        <div class="partner-item">
          <a href="#" class="img"><img src="img/part1.png" alt=""></a>
          <div class="right">
            <div class="title"><a href="">Xerox</a></div>
            <div class="text">
              Один из мировых лидеров в области технологий печати и управления документами, пионер массового выпуска копировальных аппаратов
            </div>
            <div class="link">
              <a href="#">
                Подробнее
                <svg class="svg">
                  <use xlink:href="img/sprite.svg#arr-right"></use>
                </svg>
              </a>
            </div>
          </div>
        </div><!--end partner-item -->
        <div class="partner-item">
          <a href="#" class="img"><img src="img/part1.png" alt=""></a>
          <div class="right">
            <div class="title"><a href="">Xerox</a></div>
            <div class="text">
              Один из мировых лидеров в области технологий печати и управления документами, пионер массового выпуска копировальных аппаратов
            </div>
            <div class="link">
              <a href="#">
                Подробнее
                <svg class="svg">
                  <use xlink:href="img/sprite.svg#arr-right"></use>
                </svg>
              </a>
            </div>
          </div>
        </div><!--end partner-item -->
        <div class="partner-item">
          <a href="#" class="img"><img src="img/part1.png" alt=""></a>
          <div class="right">
            <div class="title"><a href="">Xerox</a></div>
            <div class="text">
              Один из мировых лидеров в области технологий печати и управления документами, пионер массового выпуска копировальных аппаратов
            </div>
            <div class="link">
              <a href="#">
                Подробнее
                <svg class="svg">
                  <use xlink:href="img/sprite.svg#arr-right"></use>
                </svg>
              </a>
            </div>
          </div>
        </div><!--end partner-item -->
        <div class="partner-item">
          <a href="#" class="img"><img src="img/part1.png" alt=""></a>
          <div class="right">
            <div class="title"><a href="">Xerox</a></div>
            <div class="text">
              Один из мировых лидеров в области технологий печати и управления документами, пионер массового выпуска копировальных аппаратов
            </div>
            <div class="link">
              <a href="#">
                Подробнее
                <svg class="svg">
                  <use xlink:href="img/sprite.svg#arr-right"></use>
                </svg>
              </a>
            </div>
          </div>
        </div><!--end partner-item -->
        <div class="partner-item">
          <a href="#" class="img"><img src="img/part1.png" alt=""></a>
          <div class="right">
            <div class="title"><a href="">Xerox</a></div>
            <div class="text">
              Один из мировых лидеров в области технологий печати и управления документами, пионер массового выпуска копировальных аппаратов
            </div>
            <div class="link">
              <a href="#">
                Подробнее
                <svg class="svg">
                  <use xlink:href="img/sprite.svg#arr-right"></use>
                </svg>
              </a>
            </div>
          </div>
        </div><!--end partner-item -->
        <div class="partner-item">
          <a href="#" class="img"><img src="img/part1.png" alt=""></a>
          <div class="right">
            <div class="title"><a href="">Xerox</a></div>
            <div class="text">
              Один из мировых лидеров в области технологий печати и управления документами, пионер массового выпуска копировальных аппаратов
            </div>
            <div class="link">
              <a href="#">
                Подробнее
                <svg class="svg">
                  <use xlink:href="img/sprite.svg#arr-right"></use>
                </svg>
              </a>
            </div>
          </div>
        </div><!--end partner-item -->
      </div><!--end list-partners -->
      <div class="list-load-more">
        <a href="#" class="btn btn--second">Загрузить еще</a>
      </div>
      <div class="b-pagination">
        <ul class="pagination">
          <li class="pagination-item">
            <a href="" class="pagination-link">
              <svg class="svg">
                <use xlink:href="img/sprite.svg#arrow-left"></use>
              </svg>
            </a>
          </li>
          <li class="pagination-item"><a href="" class="pagination-link">1</a></li>
          <li class="pagination-item"><a href="" class="pagination-link">2</a></li>
          <li class="pagination-item"><a href="" class="pagination-link active">3</a></li>
          <li class="pagination-item"><a href="" class="pagination-link">4</a></li>
          <li class="pagination-item"><a href="" class="pagination-link">5</a></li>
          <li class="pagination-item">
            <a href="" class="pagination-link">
              <svg class="svg">
                <use xlink:href="img/sprite.svg#arrow-right"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </section>
  </div>
</main>



<%= _.template(require('./../includes/footer.html').default)(data) %>
