<% var data = {
  title: "Второй заголовок | Проект",
  author: "Harrix"
}; %>
<%= _.template(require('./../includes/header-inside.html').default)(data) %>

<main class="main">
  <div class="wrapper wrapper--inside content-wrapper">
    <section class="content">
      <ul class="crumbs">
        <li class="crumbs-item"><a href="">Главная</a></li>
        <li class="crumbs-item"><span>Новости</span></li>
      </ul>
      <div class="box-h-title">
        <h1 class="h1">Заголовок проекта компании Гигант</h1>
      </div>
      <div class="box-filter">
        <div class="tags-listing__wrapper custom-scroll">
          <ul class="tags-listing">
            <li class="tag-item"><a class="tag-item__link" href="">Облачные технологии</a></li>
            <li class="tag-item"><a class="tag-item__link" href="">IaaS</a></li>
            <li class="tag-item"><a class="tag-item__link" href="">Cloud Health</a></li>
            
          </ul>
        </div>

      </div><!--end b-filter -->
      <article>
        <div class="big-img"><img src="img/new-img.png" alt=""></div>
        <h2 class="h2">Условия</h2>
        <p>Как уже неоднократно упомянуто, сделанные на базе интернет-аналитики выводы своевременно верифицированы. Господа, консультация с широким активом в значительной степени обусловливает важность приоретизации разума над эмоциями. Противоположная точка зрения подразумевает, что многие известные личности, превозмогая сложившуюся непростую экономическую ситуацию, призваны к ответу. Наше дело не так однозначно, как может показаться: глубокий уровень погружения представляет собой интересный эксперимент проверки дальнейших направлений развития.</p>
        <h2 class="h2">Вам также будет интересно</h2>
        <p>Как уже неоднократно упомянуто, сделанные на базе интернет-аналитики выводы своевременно верифицированы. Господа, консультация с широким активом в значительной степени обусловливает важность приоретизации разума над эмоциями. Противоположная точка зрения подразумевает, что многие известные личности, превозмогая сложившуюся непростую экономическую ситуацию, призваны к ответу. Наше дело не так однозначно, как может показаться: глубокий уровень погружения представляет собой интересный эксперимент проверки дальнейших направлений развития.</p>
        <h3 class="h3">Вам также будет интересно</h3>
        <ul>
          <li>Как уже неоднократно упомянуто, сделанные на базе интернет-аналитики выводы своевременно верифицированы.</li>
          <li>Господа, консультация с широким активом в значительной степени обусловливает важность приоретизации разума над эмоциями.</li>
          <li>Противоположная точка зрения подразумевает, что многие известные личности, превозмогая сложившуюся непростую экономическую ситуацию</li>
          <li>Призваны к ответу. Наше дело не так однозначно, как может показаться: глубокий уровень погружения представляет собой интересный эксперимент проверки дальнейших направлений развития.</li>
        </ul>
        <div class="project-result">
          <h2 class="h2">Результат</h2>
          <p>Как уже неоднократно упомянуто, сделанные на базе интернет-аналитики выводы своевременно верифицированы. Господа, консультация с широким активом в значительной степени обусловливает важность приоретизации разума над эмоциями. </p>
          <div class="project-result__items">
            <div class="project-result__item">
              <div class="num">10тыс</div>
              довольных пользователей
            </div>
            <div class="project-result__item">
              <div class="num">27</div>
              новых филиалов
            </div>
            <div class="project-result__item">
              <div class="num">9</div>
              лет на рынке
            </div>
            <div class="project-result__item">
              <div class="num">50млн</div>
              долларов прибыли
            </div>
          </div>
        </div><!--end project-result -->
        <div class="slider-project project-demo js-slider-project">
          <div class="slider">
            <div class="slide">
              <div class="project-item">
                <div class="img">
                  <a href="#"><img src="img/news1.png" alt=""></a>
                </div>
              </div><!--end project-item -->
            </div><!--end slide -->
            <div class="slide">
              <div class="project-item">
                <div class="img">
                  <a href="#"><img src="img/news1.png" alt=""></a>
                </div>
              </div><!--end project-item -->
            </div><!--end slide -->
            <div class="slide">
              <div class="project-item">
                <div class="img">
                  <a href="#"><img src="img/news1.png" alt=""></a>
                </div>
              </div><!--end project-item -->
            </div><!--end slide -->
            <div class="slide">
              <div class="project-item">
                <div class="img">
                  <a href="#"><img src="img/news1.png" alt=""></a>
                </div>
              </div><!--end project-item -->
            </div><!--end slide -->
            <div class="slide">
              <div class="project-item">
                <div class="img">
                  <a href="#"><img src="img/news1.png" alt=""></a>
                </div>
              </div><!--end project-item -->
            </div><!--end slide -->
            <div class="slide">
              <div class="project-item">
                <div class="img">
                  <a href="#"><img src="img/news1.png" alt=""></a>
                </div>
              </div><!--end project-item -->
            </div><!--end slide -->
            <div class="slide">
              <div class="project-item">
                <div class="img">
                  <a href="#"><img src="img/news1.png" alt=""></a>
                </div>
              </div><!--end project-item -->
            </div><!--end slide -->
            
          </div>
          <div class="arr-left">
            <svg width="24" height="38" viewBox="0 0 24 38"  xmlns="http://www.w3.org/2000/svg">
              <path opacity="0.5" d="M21 3L5 19L21 35" stroke-width="6"/>
            </svg>
    
          </div>
          <div class="arr-right">
            <svg width="24" height="38" viewBox="0 0 24 38" xmlns="http://www.w3.org/2000/svg">
              <path opacity="0.5" d="M3 3L19 19L3 35"  stroke-width="6"/>
            </svg>
          </div>
        </div><!--end slider-project -->
        
        <h2 class="h2">Продукты в кейсе</h2>
        <div class="market-list">
          <div class="market-item">
            <div class="market-wrap">
              <div class="img">
                <a href="#"> <img src="img/market-item.png" alt=""></a>
                <ul class="badgets">
                  <li><span>Хит</span></li>
                  <li class="blue"><span>новинка</span></li>
                  <li class="pink"><span>Скидка 10%</span></li>
                </ul>
              </div>
              <div class="market-item__body">
                <div class="articul">Арт. 1112234</div>
                <div class="title"><a href="">Разнообразный и богатый опыт </a></div>
                <div class="desc">Знания. В нашей команде работают выскоко- квалифицированные инженеры</div>
              </div>
              <div class="market-item__bottom">
                <div class="old-cost">32 985 ₽</div>
                <div class="cost">32 985 ₽</div>
              </div>
            </div><!-- /.market-wrap -->
          </div><!-- /.market-item -->
          <div class="market-item">
            <div class="market-wrap">
              <div class="img"><a href=""><img src="img/market-item.png" alt=""></a></div>
              <div class="market-item__body">
                <div class="articul">Арт. 1112234</div>
                <div class="title"><a href="">Разнообразный и богатый опыт </a></div>
                <div class="desc">Знания. В нашей команде работают выскоко- квалифицированные инженеры</div>
              </div>
              <div class="market-item__bottom">
                <div class="old-cost">32 985 ₽</div>
                <div class="cost">32 985 ₽</div>
              </div>
            </div><!-- /.market-wrap -->
          </div><!-- /.market-item -->
          <div class="market-item">
            <div class="market-wrap">
              <div class="img"><a href=""><img src="img/market-item.png" alt=""></a></div>
              <div class="market-item__body">
                <div class="articul">Арт. 1112234</div>
                <div class="title"><a href="">Разнообразный и богатый опыт </a></div>
                <div class="desc">Знания. В нашей команде работают выскоко- квалифицированные инженеры</div>
              </div>
              <div class="market-item__bottom">
                <div class="cost cost-black">32 985 ₽</div>
              </div>
            </div><!-- /.market-wrap -->
          </div><!-- /.market-item -->
          <div class="market-list-load">
            <a href="#" class="btn btn--second">Загрузить еще</a>
          </div>
        </div>
        
        <h2 class="h2">Партнёры проекта</h2>
        <div class="list-partner custom-scroll">
          <div class="partner-item"><a href=""><img src="img/part1.png" alt=""></a></div>
          <div class="partner-item"><a href=""><img src="img/part2.png" alt=""></a></div>
          <div class="partner-item"><a href=""><img src="img/part3.png" alt=""></a></div>
        </div>
  
  
        <div class="title-box">
          <h2 class="h2">Вам также будет интересно</h2>
          <div class="link-more b-right"><a href="#">Все <span class="md-hidden">проекты</span></a></div>
        </div>
        <div class="list-news">
          <div class="news-item">
            <div class="news-wrapper">
              <div class="img"><a href="#"><img src="img/news1.png" alt=""></a></div>
              <div class="title"><a href="#">Знания.
              </a></div>
              <div class="text">
                Знания. В нашей команде работают выскоко- квалифицированные инженеры, с подтверждёнными знаниями.
              </div>
              <div class="link-more">
                <a href="#">
                  Подробнее
                  <svg class="svg">
                    <use xlink:href="img/sprite.svg#arr-right"></use>
                  </svg>
                </a>
              </div>
            </div>
          </div><!--end news-item -->
          <div class="news-item">
            <div class="news-wrapper">
              <div class="img"><a href="#"><img src="img/news1.png" alt=""></a></div>
              <div class="title"><a href="#">Заголовок новости
              </a></div>
              <div class="text">
                Знания. В нашей команде работают выскоко- квалифицированные инженеры, с подтверждёнными знаниями.
              </div>
              <div class="link-more">
                <a href="#">
                  Подробнее
                  <svg class="svg">
                    <use xlink:href="img/sprite.svg#arr-right"></use>
                  </svg>
                </a>
              </div>
            </div>
          </div><!--end news-item -->
          <div class="news-item">
            <div class="news-wrapper">
              <div class="img"><a href="#"><img src="img/news1.png" alt=""></a></div>
              <div class="title"><a href="#">Длинный заголовок новости в две строки
              </a></div>
              <div class="text">
                Знания. В нашей команде работают выскоко- квалифицированные инженеры, с подтверждёнными знаниями.
              </div>
              <div class="link-more">
                <a href="#">
                  Подробнее
                  <svg class="svg">
                    <use xlink:href="img/sprite.svg#arr-right"></use>
                  </svg>
                </a>
              </div>
            </div>
          </div><!--end news-item -->
        </div><!--end list-news -->
        <div class="form-learn-more form-learn-more--inside">
          <div class="form-learn-more__text">
            <div class="title">Хотите узнать больше?</div>
            <div class="text">Заполните форму и наши специалисты бесплатно проконсультируют вас по любым вопросам ИТ-интеграции</div>
          </div><!--end form-learn-more__text -->
          <div class="form-learn-more__form">
            <div class="form-row">
              <div class="form-col">
                <div class="inp-group"><input type="text" placeholder="*Как к Вам обращаться" class="input"></div>
              </div>
            </div><!--end form-row -->
            <div class="form-row">
              <div class="form-col form-col--md-2">
                <div class="inp-group"><input type="text" placeholder="Телефон" class="input"></div>
              </div>
              <div class="form-col form-col--md-2">
                <div class="inp-group"><input type="text" placeholder="E-mail" class="input"></div>
              </div>
            </div><!--end form-row -->
            <div class="form-row">
              <div class="form-col">
                <div class="inp-group"><textarea placeholder="Комментарий" class="input"></textarea></div>
              </div>
            </div><!--end form-row -->
            <div class="form-row">
              <div class="form-col">
                <div class="form-bottom">
                  <div class="text-soglasie">
                    <div class="inp-checkbox">
                      <input id="ck1" type="checkbox">
                      <label for="ck1">Я согласен на <a href="#">обработку моих персональных данных</a></label>
                    </div>
                  </div>
                  <div class="b-btn">
                    <input type="submit" value="Запросить консультацию" class="btn btn--02">
                  </div>
                </div>
              </div>
            </div><!--end form-row -->
          </div><!--end form-learn-more__form -->
        </div><!--end form-learn-more -->
        
    </section>
  </div>
</main>



<%= _.template(require('./../includes/footer.html').default)(data) %>
