$font-stack: 'Ubuntu', sans-serif;
$font-title: 'Jost', sans-serif;
$clr-font: #2B2A29;
$clr-first-primary: #112DBC;
$clr-gray: #A0A0B8;

$btn-bg-hover: #E3E5F5;
$btn-color-hover: #4B4D60;
$clr-error: #DF2222;

$mq_xxs: 320px;
$mq_xs: 360px;
$mq_sm: 560px;
$mq_md: 719px;
$mq_lg: 1023px;
$mq_xl: 1279px;
$mq_xxl: 1439px;
