@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap');
/*
@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria-Thin.eot');
  src: local('Geometria Thin'), local('Geometria-Thin'),
  url('../fonts/Geometria-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Geometria-Thin.woff') format('woff'),
  url('../fonts/Geometria-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

 */
